/* Reset/Clean up page */

* {
    padding: 0;
    margin: 0;
}

main {
    margin: 0 50px; /* 20px for better visual (nothing stick to side) */
}

.accueil {
    margin: 0 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Header set up */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: auto;
    height: 50px;
    padding-top: 20px;
}

header nav {
    margin-right: 50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 50px;
    padding: 35px 15px 35px 25px;
    border-top: 2px solid #0065FC;;
    border-color: transparent;
}

header nav ul li:hover {
    border-color: #0065FC;
    color: #0065FC;
}

/* First section => search + filter + info */

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 250px;
    margin-top: 20px;
}

.accueil__info {
    line-height: 2;
}

/* search and submit parts */

.accueil__form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.accueil__form i {
    padding: 0 20px 0 0;
}

.accueil__form form {
    width: auto;
    height: 45px; /* change height of search and submit */
    display: flex;
    justify-content: center;
}

.accueil__form__search {
    width: auto;
    height: 100%;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
}

.accueil__form__submit {
    width: auto;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
}

/* filters parts */

.accueil__filtres {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;

}

.accueil__filtres ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
}

.accueil__filtres ul li {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0px 2px #F2F2F2 inset;
    border-radius: 20px;
    box-sizing: content-box;
    padding-right: 20px;
}

.accueil__filtres ul li:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.accueil__filtres ul li:hover i {
    background-color: #0065FC;
    color: #DEEBFF;
}

.accueil__filtres ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

/* Info parts */

.accueil__info {
    display: flex;
    align-items: center;
}

.accueil__info i {
    font-size: 1.2em;
    margin-right: 10px;
    background-color: #0065FC;
    box-shadow: 0px 0px 0px 2px #F2F2F2 inset;
    border-radius: 1em;
}

/* section hébergement + populaires */

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

main strong {
    font-weight: bold;
}

main h3 {
    font-weight: bold;
    font-size: 1.2em;
}

.main__bloc1 {
    display: flex;
    justify-content: space-between;
}

.main__bloc1 section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 40px;
}

.fa-star {
    color: #0065FC;
}

.grey {
    color: #dddada;
}

/* hébergement part */

.main__heber {
    width: 60%;
    height: auto;
}

.main__heber__hotel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__heber__hotel img {
    width: 330px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.main__heber__hotel figure {
    margin-top: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 4px #e2dfdff8;
}

.main__heber__hotel figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 80px;
    padding-left: 5px;
}

.main__heber__more {
    margin: 50px 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* populaires parts */

.main__popu {
    width: 25%;
    height: auto;
}

.main__popu__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__popu__title i {
    font-size: 2em;
}

.main__popu img {
    width: 160px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.main__popu figure {
    display: flex;
    margin-top: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 4px #e2dfdff8;
}

.main__popu figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    padding: 15px 0;
}

.main__popu figcaption p {
    margin-top: 10px;
}

/* section activités marseille */

.main__acti {
    margin-top: 60px;
}

.main__acti__places {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}

.main__acti__places p {
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 3px 4px #e2dfdff8;
    padding: 15px 0 15px 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.main__acti__places img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 650px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.acti__place__short img {
    width: 100%;
    height: auto;
}

.bigger img{
    flex-grow: 0;
}

/* footer section */

footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 50px;
    background-color: #F2F2F2;
    width: auto;
    height: 200px;
}

.footer__info { /*use it so their is space between div, without leaving left side */
    flex: 1;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    margin-top: 10px;
}