/* Reset/Clean up page */

* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

main {
    margin: 0 5%; /* 20px for better visual (nothing stick to side) */
}

.accueil {
    margin: 0 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Header set up */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

header img {
    width: auto;
    height: 50px;
    padding-top: 20px;
}

header nav {
    margin-right: 50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 50px;
    padding: 35px 15px 35px 25px;
    border-top: 2px solid #0065FC;;
    border-color: transparent;
}

header nav ul li:hover {
    border-color: #0065FC;
    color: #0065FC;
}

/* First section => search + filter + info */

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 250px;
    margin-top: 20px;
}

.accueil__entry {
    line-height: 2;
}

/* search and submit parts */

.accueil__form {
    display: flex;
    align-items: center;
}

.accueil__form i {
    padding: 17px 20px 17px 20px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.accueil__form form {
    width: auto;
    height: 50px; /* change height of search and submit */
    display: flex;
    justify-content: center;
}

.accueil__form__search {
    width: auto;
    height: 100%;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
    padding-left: 15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;

}

.accueil__form__submit {
    width: auto;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
}

.accueil__mobile__button {
    display: none;
}

.accueil__mobile__mark {
    display: none;
}

/* filters parts */

.accueil__filtres {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.accueil__filtres ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
}

.accueil__filtres ul li {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0px 2px #F2F2F2 inset;
    border-radius: 20px;
    box-sizing: content-box;
    padding-right: 20px;
}

.accueil__filtres ul li:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.accueil__filtres ul li:hover i {
    background-color: #0065FC;
    color: #DEEBFF;
}

.accueil__filtres ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

/* Info parts */

.accueil__info {
    display: flex;
    align-items: center;
}

.accueil__info i {
    font-size: 1.2em;
    margin-right: 10px;
    background-color: #0065FC;
    box-shadow: 0px 0px 0px 2px #F2F2F2 inset;
    border-radius: 1em;
}

/* section hébergement + populaires */

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

main strong {
    font-weight: bold;
}

main h3 {
    font-weight: bold;
    font-size: 1.2em;
}

.main__bloc1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.fa-star {
    color: #0065FC;
}

.grey {
    color: #dddada;
}

/* hébergement part */

.main__heber {
    width: 60%;
    height: auto;
    background: #F2F2F2;
    padding: 40px 40px;
    border-radius: 20px;
}

.main__heber__hotel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__heber__hotel img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.main__heber__hotel figure {
    margin-top: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 4px #e2dfdff8;
}

.main__heber__hotel figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 80px;
    padding-left: 5px;
}

.main__heber__more {
    margin: 50px 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* populaires parts */

.main__popu {
    width: 25%;
    height: auto;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px 40px;
}

.main__popu__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__popu__title i {
    font-size: 2em;
}

.main__popu img {
    width: 160px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.main__popu figure {
    display: flex;
    margin-top: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 4px #e2dfdff8;
}

.main__popu figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    padding: 15px 0;
}

.main__popu figcaption p {
    margin-top: 10px;
}

/* section activités marseille */

.main__acti {
    margin-top: 60px;
    height: auto;
}

.acti__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.acti__bloc figcaption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 0 15px 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 5px 4px #e2dfdff8;
}

.acti__place__tall {
    width: 400px;
    height: 500px;
}

.acti__place__tall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    vertical-align: text-bottom; /* remove gap under image */
}

.acti__place__short {
    width: 400px;
    height: 200px;
}

.acti__place__short img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    vertical-align: text-bottom;
}

.bigger {
    height: 250px;
}

.shorter {
    height: 150px;
    margin-top: 100px;
}

.img6 {
    margin-top: 100px;
}

/* footer section */

footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 50px 0 50px 50px;
    background-color: #F2F2F2;
}

.footer__info { /*use it so their is space between div, without leaving left side */
    flex: 1;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    margin-top: 10px;
}

@media screen and (max-width: 767px){

    /* HEADER */
    
    header {
        flex-direction: column; 
    }

    header nav ul li {
        padding: 35px 25px 15px 25px;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        border-color: transparent;
    }
    
    header nav ul li:hover {
        border-color: #0065FC;
        color: #0065FC;
    }

    /*BARRE DE RECHERCHE */

    .accueil {
        height: auto;
    }

    .accueil__form {
        margin-top: 20px;
    }
    
    .accueil__form__search {
        border: none;
    }
    
    .accueil__form__submit {
        display: none;
    }

    .accueil__mobile__button {
        display: block;
        border: none;
    }

    .accueil__mobile__mark {
        display: block;
        background-color: #0065FC !important;
        border-radius: 15px !important;
        font-size: 1.2em;
    }

    .accueil__filtres {
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .accueil__filtres ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 350px;
    }

    .accueil__filtres ul li {
        margin-right: 10px;
        margin-top: 15px;
    }

    .accueil__info {
        margin-top: 25px;
    }

    .accueil__info i {
        margin-bottom: 15px;
    }

    /* MAIN */

    .main__popu {
        width: 100%;
        padding: 40px 5%;
        border-radius: 0;
    }

    #rectangle {
        width: 60%;
    }

    .main__heber {
        width: 100%;
        margin-top: 50px;
        background: none;
    }

    /* ACTIVITE */

    .main__acti img {
        height: 200px;
    }

    .acti__place__tall {
        width: 380px;
        height: 280px;
    }

    .acti__place__short {
        width: 380px;
        height: 280px;
    }

    .shorter {
        margin-top: 0;
    }

    .img6 {
        margin-top: 0;
    }

    /* FOOTER */

    footer {
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__info {
        margin-top: 50px;
    }

}  

    @media screen and (min-width: 768px) and (max-width: 991px){

         /* HEADER */
    
    header {
        flex-direction: column; 
    }

    header nav ul li {
        padding: 35px 25px 15px 25px;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        border-color: transparent;
    }
    
    header nav ul li:hover {
        border-color: #0065FC;
        color: #0065FC;
    }

    /*BARRE DE RECHERCHE */

    .accueil {
        height: auto;
    }

    .accueil h1 {
        text-align: center;
    }

    .accueil p {
        text-align: center;
    }

    .accueil__form {
        margin: auto;
        margin-top: 25px;
    }
    
    .accueil__form__search {
        border: none;
    }

    .accueil__filtres {
        margin-top: 40px;
        flex-direction: column;
    }

    .accueil__filtres ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .accueil__filtres ul li {
        margin-right: 10px;
        margin-top: 15px;
    }

    .accueil__info {
        margin: auto;
        margin-top: 25px;
    }

    /* MAIN */

    .main__popu {
        width: 60%;
        margin: auto;
        padding: 40px 5%;
        border-radius: 0;
    }

    .main__heber {
        margin: auto;
        width: 60%;
        margin-top: 50px;
        border-radius: 0;
    }

    .main__heber h2 {
        text-align: center;
    }

    .main__heber__hotel {
        justify-content: center;
    }

    /* ACTIVITE */

    .main__acti {
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }

    .main__acti img {
        height: 200px;
    }

    .acti__place__tall {
        width: 380px;
        height: 280px;
    }

    .acti__place__short {
        width: 380px;
        height: 280px;
    }

    .shorter {
        margin-top: 0;
    }

    .img6 {
        margin-top: 0;
    }

    /* FOOTER */

    footer {
        margin-top: 0;
    }

    }